.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  height: 100vh;
  position: relative;
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#galery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.google-maps {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.google-maps iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
  position: absolute;
}
